@charset "UTF-8";
/* CSS Document */
.flex
{
display: flex;
background-color: #333;
}
.links
{
font-family: 'Montserrat', sans-serif;
color:white;
text-align: center;
padding: 1vw;
}
a
{
text-decoration: none;
}
a:hover
{
background-color:#111;
}
.hidden
{
display: none;
}
.searchbutton{
  background-color: #333;
  border: none;
  color: white;
  padding: 1vw;	
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-top:auto; 
  margin-bottom: auto;
  
}
.searchbutton:hover{
background-color: #111;
}
